a {
    text-align: center;
    padding-bottom: 1rem;
    color: limegreen;
    font-weight: bold;
    font-size: 130%;
}
h1 {
    font-weight: bold;
}
h2 {
    margin: 0.5rem 0;
}
input {
    background: #e1e1e1;
    border-radius: 3px;
    border: none;
    padding: 6px 11px;
    font-size: 20px;
    margin: 0 5px 5px 5px;
}

select {
    border-radius: 0.25rem;
    font-size: 15px;
    margin: 0 5px 5px 5px;
}
.card {
    margin: 30px auto;
    width: auto;
    max-width: 500px;
    padding: 10px 50px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
